#main_container{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 120%;
  border: 5px solid black;
  padding: 10px;
}

body{
  font-family: 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

h1, h2{
  text-decoration: underline;
  font-family: 'Verdana', 'Geneva', sans-serif;
}

/* Style the search field */
input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  text-align: center;
  width: 80%;
  background: #f1f1f1;
}

@font-face {
  font-family: AcquireRegular;
  src: url("fonts/Aquire-BW0ox.otf");
}


